<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="cap_links">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('tasks') }}">Tasks</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    {% if current_user.is_authenticated %}
    <p>Hello, {{ current_user.username }}</p>
    {% else %}
    <p>ti ne zaloginen, sooka</p>
    {% endif %}
</body>
</html>

<ul>
    {% for i in account %}
    {{ account['fio'], account['dolzhnost'] }}
    {% endfor %}
</ul>