<!DOCTYPE html>
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="cap_links">
        <a href="{{ url_for('login') }}" class="redirect-home-login">Login</a>
        <a href="{{ url_for('register') }}" class="redirect-home-register">Register</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('tasks') }}" class="redirect-home-tasks">Tasks</a>
            <a href="{{ url_for('logout') }}" class="redirect-home-logout">Logout</a>
        {% endif %}
    </div>
    {% if current_user.is_authenticated %}
    <p class="paragraph-index">Hello, {{ login }}</p>
    {% else %}
    <p class="paragraph-index">You are not logged in!! This site contains private 18+ information, get the hell outta here if you don't work with us</p>
    {% endif %}
</body>
</html>