<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Sign In</h1>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form class="form-login" action="{{ url_for('login') }}" method="post">
        {{ login_form.hidden_tag() }}
        {{ login_form.login_loginform(size=20) }}{{ login_form.login_loginform.label() }}<br>
        {{ login_form.password_loginform(size=20) }}{{ login_form.password_loginform.label() }}<br>
        {{ login_form.remember_loginform() }}{{ login_form.remember_loginform.label() }}<br>
        {{ login_form.submit_loginform() }}<br>
    </form>
    <a href="{{ url_for('register') }}">If you want to register, click here</a>
</body>
</html>