<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Register</h1>
    <form class="form-register" action="{{ url_for('register') }}" method="post">
        {{ reg_form.hidden_tag() }}
        {{ reg_form.login_regform(size=20) }}{{ reg_form.login_regform.label() }}<br>
        {{ reg_form.password_regform(size=20) }}{{ reg_form.password_regform.label }}<br>
        {{ reg_form.fio_regform(size=20) }}{{ reg_form.fio_regform.label }}<br>
        {{ reg_form.role_regform(size=20) }}{{ reg_form.role_regform.label }}<br>
        {{ reg_form.submit_regform() }}
    </form>
    <a href="{{ url_for('login') }}">If you want to log in, click here</a>
</body>
</html>