<!DOCTYPE html>
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="cap_links">
        <a href="{{ url_for('index') }}" class="redirect-reg-home">Home page</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    <form class="form-register" action="{{ url_for('register') }}" method="post">
        <h3 class="h3-register">Register</h3><br>
        {{ reg_form.hidden_tag() }}
        {{ reg_form.login_regform(placeholder="Login",class_="login-regform") }}<br>
        {{ reg_form.password_regform(placeholder="Password",class_="password-regform") }}<br>
        {{ reg_form.fio_regform(placeholder="FIO",class_="fio-regform") }}<br>
        {{ reg_form.role_regform(placeholder="Role",class_="role-regform") }}<br>
        {{ reg_form.submit_regform(placeholder="Register",class_="submit-regform") }}
    </form>
    <a href="{{ url_for('login') }}" class="redirect-reg-login">If you want to log in, click here</a>
</body>
</html>