<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <div class="cap_links">
        <a href="{{ url_for('logout') }}" class="redirect-tasks-logout">Logout</a>
        <a href="{{ url_for('index') }}" class="redirect-tasks-home">Home page</a>
    </div>
    {% if session.get('role') == "manager" %}
        <a href="{{ url_for('task_purpose_adding') }}">Add task</a>
        <table class="table table-hover table-executor table-striped">
            <thead>
                <tr>
                    <th scope="col">Задание</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Логин работника</th>
                    <th scope="col">Время добавления задачи</th>
                </tr>
            </thead>
            <tbody>
            {% for i in range(tasks_manager_i_len) %}
                <tr>
                    <td>{{ tasks_manager[i][0] }}</td>
                    <td>{{ tasks_manager[i][1] }}</td>
                    <td>{{ tasks_manager[i][2] }}</td>
                    <td>{{ tasks_manager[i][3] }}</td>
                    <td>{{ tasks_manager[i][4] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if session['role'] == 'executor' %}
        {{ changing_form.hidden_tag() }}
        <table class="table table-hover table-info table-striped">
            <thead>
                <tr>
                    <th scope="col">Задание</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата назначения</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for i in range(tasks_executor_i_len) %}
                <tr>
                    <td>{{ tasks_executor[i][0] }}</td>
                    <td>{{ tasks_executor[i][1] }}</td>
                    <td>{{ tasks_executor[i][2] }}</td>
                    <td>{{ tasks_executor[i][3] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('tasks') }}" method="post">
            {{ changing_form.hidden_tag() }}
            {{ changing_form.submit_changingform(placeholder="Изменить статус задач") }}
        </form>
    {% endif %}
</body>
</html>
